backend_core/.idea/
.vs/
dbupdate/.idea/
obj/
logs/
Debug/
backend_core/packages/
Release/  
obj/
bin/
backend_core/FB.CAMUtility/Core/
backend_core/FB.BuilderImpl/Core/Compression/Zstandard/lib/win/libzstd.dll
backend_core/FB.CADUtility/Core/
backend_core/FB.BuilderImpl/mongocrypt.dll
backend_core/FB.CADUtility/mongocrypt.dll
backend_core/FB.CAMUtility/mongocrypt.dll
backend_core/FB.WorkApp/mongocrypt.dll
backend_core/FB.BuilderImpl/Core/
*.log
*.dylib
*.so
backend/CADUtility/.idea/
backend_core/.vscode/
backend/AppSrv/.idea/
backend_core/FB.NxApp.sln.DotSettings.user
backend_core/FB.AppSrv.sln.DotSettings.user
backend_core/global.json
MemoryMQ/.idea/
